<h2>Lista de categorias</h2>
<hr>
<a href="/admin/categorias/add"><button class="btn btn-success">Adicionar nova categoria</button> </a>
{{#each categorias}}
<h4>{{dataValues.nome}}</h4>
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{nome}}</h4>
            <small>{{slug}}</small>
            <small>{{date}}</small>
            <a href="/admin/categorias/edit/{{_id}}"><button class="btn btn-success">Editar</button></a>
        </div>
    </div>
{{/each}}
